<footer class="bg-neutral text-neutral-content" data-theme="dark">
  <div>
    <div class="flex justify-center">
      <form action="https://formsubmit.co/tezjavi@gmail.com" method="POST" class="md-12 border-t border-white/20 p-8 sm:p-10 md:px-16 xl:px-40 xl:py-16">
        <div class="badge badge-ghost">Contactame</div>
        <h2 class="mt-4 text-3xl font-medium">Deseas contactarme?</h2>
        <div class="mt-4 space-y-2">
          <div>
            <div class="form-control w-full lg:max-w-xs">
              <label class="label" for="name">
                <span class="label-text">Nombre Completo</span>
              </label>
              <input
                autocomplete="name"
                id="name"
                class="input input-bordered w-full lg:max-w-xs"
                placeholder="Nombre Completo"
                type="text"
                pattern="^[a-zA-Z0-9_.-]*$"
                minlength="1"
                name="name"
                required />
            </div>
          </div>
          <div>
            <div class="form-control w-full lg:max-w-xs">
              <label class="label" for="email">
                <span class="label-text">Email</span>
              </label>
              <input
                autocomplete="email"
                id="email"
                class="input join-item input-bordered w-full lg:max-w-xs"
                placeholder="name@site.com"
                type="email"
                name="email"
                required />
            </div>
          </div>
          <div>
            <div class="form-control w-fulL lg:max-w-xs">
              <label class="label" for="message">
                <span class="label-text">Mensaje</span>
              </label>
              <input
                id="message"
                class="input join-item input-bordered w-full lg:max-w-xs"
                placeholder="Escribe tu mensaje"
                type="text"
                name="Message"
                required />
              
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center gap-2">
          <button class="btn btn-primary">Contactame</button>
          <a href="tel:(613) 117-0683" class="btn btn-ghost inline-flex items-center gap-2">
            <i class="icon-play text-xl"></i>
            <span>Llamame o Enviar Whatsapp</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</footer>
